@charset "UTF-8";

@media screen and (min-width: 768px){


  a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  a.ancora-midias:hover{
    border: none;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s, border 0.2s;
  }

  .conteudo-central{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 40px;
    gap: 20px;
  }

  .conteudo-central > .left > .conteudo-central-escrito > h1{
    text-align: start;
    padding: 5px 0px 5px 0px;
  }

  .conteudo-central > .left > .conteudo-central-escrito > p{
    text-align: start;
  }


  .conteudo-central-img{
    order: 2;
    width: 350px;
  }

  .conteudo-secundario{
    margin-top: -40px;
  }

  .midia-name{display: inline;}
  .botao1{display: none;}
  .botao2{
    display:block;
    margin-top: 10px;

  }

}

@media screen and (min-width: 1200px){

  .cabecalho > a > img.logo{
    width: 160px;
  }

  img.icons{
    width: 50px;
  }

  .midia-name{
    font-size: 2em;
  }

  .conteudo-central-img{
    width: 600px;
  }

  .conteudo-secundario > h2{
    font-size: 3em;
  }

  .conteudo-secundario > p{
    font-size: 2em;
  }

  .conteudo-central > .left > .conteudo-central-escrito > h1{
    font-size: 5em;
  }

  .conteudo-central > .left > .conteudo-central-escrito > p{
    font-size: 2em;
  }

  .botao2{
    padding: 30px;
    font-size: 3em;
  }
}